
@{
    ViewData["Title"] = "Index";
}

<script src="~/App/jquery.js"></script>
<script src="~/App/jquery.min.js"></script>
<h2>Token Based Authorization</h2>
<h3 id="reqH"></h3>
<input id="btnAuth" type="button" value="Authorize" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input id="btnRequest" type="button" value="Request" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input id="btnUnauth" type="button" value="Unauthorize" />

<input id="Hidden1" type="hidden" />

<script>
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + $('#Hidden1').val());
            }
        });
        $('#btnRequest').on('click', function () {

            $.ajax({
                url: 'http://localhost:55615/api/values',
                type: 'Get',
                success: function (resp) {
                    var d = new Date();
                    console.log(resp + '-' + d);
                    alert('You are Authorized Access!')
                },
                error: function (e) {
                    alert('You are Not Authorized Access!')

                }
            });

        });
        $('#btnAuth').on('click', function () {

            $.ajax({
                url: 'http://localhost:55615/api/Token/smit/smit',
                type: 'Get',
                success: function (resp) {
                    $('#Hidden1').val(resp);
                    alert('Token Generated!')
                }
            });

        });
        $('#btnUnauth').on('click', function () {

         
            $('#Hidden1').val('');
            alert('Token Deleted!');
               

        });
    });
</script>